* {
  box-sizing: border-box;
}

body {
  padding: 20px;
}

.col {
  background: blue;
  padding: 20px;
}

.flex-grid {
  display: flex;
  justify-content: space-between;
}

.flex-grid .col {
  flex: 1
}

.flex-grid {
  margin: 10px 10px 10px 10px;
}

.flex-grid > *{margin: 0 10px;}
