h1 {
  font-family: "Comic sans MS";
  text-align: center;
  color: #808000;
  text-shadow: 10px 5px #ffdb58;
}
* {
  box-sizing: border-box;
}

body {
  padding: 20px;
  background-image: url("/s/toilet3.jpg");
  margin: auto;
}

.col {
  background: #fff;
  color: #000000;
  padding: 10px;
  margin: 1px;
  display: flex;
  box-shadow: 5px 10px 10px 5px #808000;
}

.col > img {
    height: 200px;
    width: 200px;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
}

.flex-grid .col {
  flex: 1
  flex-grow: 1;
  flex-basis: 0;
}

.flex-grid > *{margin: 1px 1px;}

.toilet {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
